@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  --font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  /* 
  color-scheme: light dark; */
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #161B21;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --primary-lighter: #fcd34d;
  --primary-light: #8b5cf6;
  --primary-dark: #de6292;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  color: #000;
  /* background: var(--background-color); */
}

.btn {
  @apply hover:text-white hover:bg-ai-pink/70 bg-ai-pink text-white border-0
}

.alink:hover {
  color: rgb(34 197 94 / var(--tw-text-opacity)) !important;
}

/* hide scrollbar */
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* background: #161B21; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


div.column:nth-child(1)>ul:nth-child(1)>li:nth-child(1) {
  padding-top: 89px;
}

.column {
  float: left;
  column-width: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the list */
.price {
  list-style-type: none;
  /* border: 1px solid #eee; */
  margin: 0;
  margin-right: 0px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price {
  margin-right: 61px;
}

.price li {
  padding: 16px;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

/* Pricing header */
.price .header {
  /* background-color: rgb(116, 66, 66); */
  color: rgb(0, 0, 0);
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

/* .column {
  float: left;
  width: 33.33%;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.dollar:before {
  content: "$";
  font-size: small;
}

.btn:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.autobotGrad,
.featureCount {
  background: linear-gradient(to right, orange, #de6292, orange);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}

.featureCount {
  background: linear-gradient(to bottom, #fff, #161b2100);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}

/* moving animation css */

.wrapper {
  margin-top: 2rem;
  width: 95%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  background-color: #000;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
}

.itemRight {
  right: max(calc(200px * 8), calc(100% + 200px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.item9 {
  animation-delay: calc(30s / 8 * (8 - 9) * -1);
}

.pricing-contrast {
  --glass-color: 0, 0, 200;
  background: radial-gradient(circle at bottom left, rgba(#fff, 0.3) 0%, rgba(var(--glass-color), 0) 70%),
    radial-gradient(circle at 50% 50%, rgba(var(--glass-color), 0.1) 0%, rgba(var(--glass-color), 0) 80%),
    rgba(var(--glass-color), 0.01);
  backdrop-filter: blur(10px);
  /*  add a gradient border  */
  /* border: 1px solid transparent; */
  position: relative;
  overflow: hidden;
}

.pricing-overlay {
  background-image: linear-gradient(-10deg, #f5f5f500 0%, #FF524250 25%, #DE639100 90%);
}

.bannerBg {
  background: linear-gradient(to right ,#161B21 , transparent 90%), url(images/landing/image8.svg) no-repeat;
  background-size: cover;
}

.carouselBg {
  background: radial-gradient(circle at bottom, #fc33af50, transparent 60%);
}

.home-header-light-pink {
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: radial-gradient(closest-side at 50% 50%, #DE639140, transparent);
  transform: translateX(-50%) translateY(0%);
}

.swiper-wrapper:not(.swiper-slider-visible) .swiper-slide {
  background-color: #17202b;
  background-image: radial-gradient(circle at top, #DE639150, transparent 60%);
  border-radius: 2rem;
}

.bannerFlowGraph {
  animation: bounceY 2s infinite;
}

@keyframes bounceY {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}


.grid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #202124 1px, transparent 1px),
                    linear-gradient(to bottom, #202124 1px, transparent 1px);
  background-size: 40px 40px; /* Adjust the size of the grid squares */
  z-index: 1;
}

/* herosection css */
.welcome-text{

}